#container {
    display: flex;
}
#filter-section {
    width: 10%;
    padding: 20px;
    background-color: #f4f4f4;
}
#table-section {
    width: 90%;
    padding: 10px;
    font-size: 8px;
}
table {
    width: 100%;
    border-collapse: collapse;
    /*table-layout: auto;*/
}
th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
    font-size: small;
    line-height: 1.2em; /* Line height for each line of text */
    height: 2.4em; /* Fixed height for two lines of text */
    white-space: normal; /* Allows text to wrap */
    overflow: hidden;
    text-overflow: ellipsis;
}

th:nth-child(6), td:nth-child(6) {
    width: 55%;
}
.affiliate-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: small;
}
.separator {
    height: 1px;
    background-color: #ccc; /* Or any color you prefer */
    margin: 10px 0; /* Adjust spacing as needed */
}
#min-capacity, #max-capacity {
    width: 80%; /* Or any other width that fits your design */
    /* Other styling properties if needed */
}
